In [1]:
import pandas as pd

In [2]:
# --Target table url
url = 'https://fbref.com/en/comps/12/10731/2020-2021-La-Liga-Stats'

In [3]:
tables = pd.read_html(url)
league_table_df = tables[0]
league_table_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Atlético Madrid,38,26,8,4,67,25,42,86,52.4,32.7,19.6,0.52,NaN,Luis Suárez - 21,Jan Oblak,→ UEFA Champions League via league finish
1,2,Real Madrid,38,25,9,4,67,28,39,84,61.6,36.5,25.2,0.66,NaN,Karim Benzema - 23,Thibaut Courtois,→ UEFA Champions League via league finish
2,3,Barcelona,38,24,7,7,85,38,47,79,78.9,39.6,39.3,1.03,NaN,Lionel Messi - 30,Marc-André ter Stegen,→ UEFA Champions League via league finish
3,4,Sevilla,38,24,5,9,53,33,20,77,50.9,35.0,15.9,0.42,NaN,Youssef En-Nesyri - 18,Yassine Bounou,→ UEFA Champions League via league finish
4,5,Real Sociedad,38,17,11,10,59,38,21,62,60.4,36.6,23.8,0.63,NaN,Alexander Isak - 17,Álex Remiro,→ UEFA Europa League via league finish

In [4]:
# Clean the Table
columnsplit=league_table_df['Top Team Scorer'].str.split("-", expand=True)
league_table_df=league_table_df.assign(Top_Scorer=columnsplit[0],Score=columnsplit[1])
new_league_table_df=league_table_df.drop(['Top Team Scorer','Notes'] , axis=1)
new_league_table_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Attendance,Goalkeeper,Top_Scorer,Score
0,1,Atlético Madrid,38,26,8,4,67,25,42,86,52.4,32.7,19.6,0.52,NaN,Jan Oblak,Luis Suárez,21
1,2,Real Madrid,38,25,9,4,67,28,39,84,61.6,36.5,25.2,0.66,NaN,Thibaut Courtois,Karim Benzema,23
2,3,Barcelona,38,24,7,7,85,38,47,79,78.9,39.6,39.3,1.03,NaN,Marc-André ter Stegen,Lionel Messi,30
3,4,Sevilla,38,24,5,9,53,33,20,77,50.9,35.0,15.9,0.42,NaN,Yassine Bounou,Youssef En,Nesyri
4,5,Real Sociedad,38,17,11,10,59,38,21,62,60.4,36.6,23.8,0.63,NaN,Álex Remiro,Alexander Isak,17

In [5]:
#Pick the columns we needed and assign into new datafrmae
new_league_table_df=new_league_table_df[['Rk','Squad','MP','W','D','L','GF','GA','GD',
                                    'Pts']]
new_league_table_df.head()

   Rk            Squad  MP   W   D   L  GF  GA  GD  Pts
0   1  Atlético Madrid  38  26   8   4  67  25  42   86
1   2      Real Madrid  38  25   9   4  67  28  39   84
2   3        Barcelona  38  24   7   7  85  38  47   79
3   4          Sevilla  38  24   5   9  53  33  20   77
4   5    Real Sociedad  38  17  11  10  59  38  21   62

In [6]:
#  Import other cvs file
csv_file = "sportsref_20_21.csv"
player_standard_stats_df = pd.read_csv(csv_file, header=1, encoding='maccentraleurope')
player_standard_stats_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1,Matches
0,1,Sabit Abdulai,gh GHA,MF,Getafe,21,1999,3,0,60,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches
1,2,Marcos AcuĖa,ar ARG,DF,Sevilla,28,1991,30,26,"2,330",...,1.1,1.1,2.8,4.0,0.04,0.11,0.15,0.04,0.15,Matches
2,3,Bobby Adekanye,nl NED,"FW,MF",Cádiz,21,1999,3,0,36,...,0.2,0.2,0.0,0.2,0.43,0.00,0.43,0.43,0.43,Matches
3,4,Martin Agirregabiria,es ESP,"DF,MF",Alavés,24,1996,26,16,"1,558",...,0.2,0.2,0.9,1.1,0.01,0.05,0.06,0.01,0.06,Matches
4,5,Joseph Aidoo,gh GHA,DF,Celta Vigo,24,1995,25,14,"1,289",...,0.8,0.8,0.6,1.4,0.06,0.04,0.10,0.06,0.10,Matches

In [7]:
# Clean dataframe, split "Nation" column and only get last 3 letter
columnsplit=player_standard_stats_df['Nation'].str.split(" ", expand=True)
player_standard_stats_df=player_standard_stats_df.assign(Nation=columnsplit[1])
player_standard_stats_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1,Matches
0,1,Sabit Abdulai,GHA,MF,Getafe,21,1999,3,0,60,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches
1,2,Marcos AcuĖa,ARG,DF,Sevilla,28,1991,30,26,"2,330",...,1.1,1.1,2.8,4.0,0.04,0.11,0.15,0.04,0.15,Matches
2,3,Bobby Adekanye,NED,"FW,MF",Cádiz,21,1999,3,0,36,...,0.2,0.2,0.0,0.2,0.43,0.00,0.43,0.43,0.43,Matches
3,4,Martin Agirregabiria,ESP,"DF,MF",Alavés,24,1996,26,16,"1,558",...,0.2,0.2,0.9,1.1,0.01,0.05,0.06,0.01,0.06,Matches
4,5,Joseph Aidoo,GHA,DF,Celta Vigo,24,1995,25,14,"1,289",...,0.8,0.8,0.6,1.4,0.06,0.04,0.10,0.06,0.10,Matches

In [8]:
#Pick the columns we needed and assign into new datafrmae
new_player_df=player_standard_stats_df[['Player','Nation','Pos','Squad','Age','Born','MP','Starts',
                                       'Min','Gls','Ast','PK','CrdY','CrdR']]
new_player_df.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,CrdY,CrdR
0,Sabit Abdulai,GHA,MF,Getafe,21,1999,3,0,60,0,0,0,1,0
1,Marcos AcuĖa,ARG,DF,Sevilla,28,1991,30,26,"2,330",1,2,0,5,0
2,Bobby Adekanye,NED,"FW,MF",Cádiz,21,1999,3,0,36,0,0,0,0,0
3,Martin Agirregabiria,ESP,"DF,MF",Alavés,24,1996,26,16,"1,558",0,1,0,1,0
4,Joseph Aidoo,GHA,DF,Celta Vigo,24,1995,25,14,"1,289",0,0,0,3,0

In [9]:
# Repleace the "Min" column from int to str
new_player_df['Min']=new_player_df['Min'].str.replace(',','')
new_player_df.head()

/Users/chiachinghsieh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,CrdY,CrdR
0,Sabit Abdulai,GHA,MF,Getafe,21,1999,3,0,60,0,0,0,1,0
1,Marcos AcuĖa,ARG,DF,Sevilla,28,1991,30,26,2330,1,2,0,5,0
2,Bobby Adekanye,NED,"FW,MF",Cádiz,21,1999,3,0,36,0,0,0,0,0
3,Martin Agirregabiria,ESP,"DF,MF",Alavés,24,1996,26,16,1558,0,1,0,1,0
4,Joseph Aidoo,GHA,DF,Celta Vigo,24,1995,25,14,1289,0,0,0,3,0

In [10]:
# Connect to local database

from sqlalchemy import create_engine
rds_connection_string = "postgres:postgres@localhost:5432/la_liga_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

/Users/chiachinghsieh/anaconda3/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [11]:
#Check for tables
engine.table_names()

['league_table', 'player_standard_stats', 'Top_Goal_Scorer']

In [14]:
# Use pandas to load csv into database
new_league_table_df.to_sql(name='league_table', con=engine, if_exists='append', index=False)
new_player_df.to_sql(name='player_standard_stats', con=engine, if_exists='append', index=False)

In [12]:
# #querying  Join the two table on Squad col
Join_df=pd.read_sql_query('select * from league_table as lt join player_standard_stats as ps on lt."Squad"=ps."Squad"', con=engine)
Join_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,Age,Born,MP,Starts,Min,Gls,Ast,PK,CrdY,CrdR
0,15,Getafe,38,9,11,18,28,43,-15,38,...,21,1999,3,0,60,0,0,0,1,0
1,4,Sevilla,38,24,5,9,53,33,20,77,...,28,1991,30,26,2330,1,2,0,5,0
2,12,Cádiz,38,11,11,16,36,58,-22,44,...,21,1999,3,0,36,0,0,0,0,0
3,16,Alavés,38,9,11,18,36,57,-21,38,...,24,1996,26,16,1558,0,1,0,1,0
4,8,Celta Vigo,38,14,11,13,55,57,-2,53,...,24,1995,25,14,1289,0,0,0,3,0

In [20]:
# Added some additional Columns
Top_player=Join_df[['Squad','W','D','L','Pts','Player','Age','Gls','Min','Ast','CrdY','CrdR']]
Top_player=Top_player.iloc[:,1:]
#Top_player.head()

In [21]:
# Did the groupby to get average player age by squad
# Changed the Column Name
df4 = Top_player.groupby('Squad')['Age'].agg(['mean'])
df4 = df4.rename(columns={"mean": "Average_Player_Age",})
df4 = df4.reset_index()

In [22]:
# Sort By Gls Column Descending
# Group by the Squad Column
# head(1) is only going to give up the 1st value per group, removing duplicate squads

df3 = Top_player.sort_values(['Gls'],ascending=False).groupby(['Squad']).head(1)

In [23]:
# Renamed The Columns
df3 = df3.rename(columns={"W": "Wins","D": "Draws","L": "Losses","Pts": "Points","Player": "Top_Scorer","Gls": "Goals",
                          "Min": "Minutes_Played", "Ast": "Assists", "CrdY": "Yellow_Cards", "CrdR": "Red_Cards"})

In [24]:
# Joined the average player age and the groupedby goals dataframe

df3 = df3.set_index('Squad').join(df4.set_index('Squad'))

# Rounded the Average Player Age column to 1 decimal
df3 = df3.round({'Average_Player_Age': 1})

# Renamed the columns
df3 = df3[['Average_Player_Age', 'Wins', 'Draws','Losses','Points',
          'Top_Scorer','Age','Goals','Minutes_Played','Assists',
          'Yellow_Cards', 'Red_Cards']]

In [25]:
df3.head(20)

,Average_Player_Age,Wins,Draws,Losses,Points,Top_Scorer,Age,Goals,Minutes_Played,Assists,Yellow_Cards,Red_Cards
Squad,,,,,,,,,,,,
Barcelona,25.1,24,7,7,79,Lionel Messi,33,30,3023,9,4,0
Real Madrid,25.2,25,9,4,84,Karim Benzema,32,23,2894,9,2,0
Villarreal,26.3,15,13,10,58,Gerard Moreno,28,23,2673,7,3,0
Sevilla,26.9,24,5,9,77,Youssef En-Nesyri,23,18,2311,0,2,0
Real Sociedad,23.7,17,11,10,62,Alexander Isak,20,17,2340,2,4,0
Celta Vigo,23.8,14,11,13,53,Iago Aspas,32,14,2864,13,9,0
Huesca,27.1,7,13,18,34,Rafa Mir,23,13,2877,1,2,0
Levante,26.7,9,14,15,41,José Luis Morales,33,13,2439,3,3,0
Eibar,26.7,6,12,20,30,Kike,30,12,3087,2,4,1
Atlético Madrid,25.3,26,8,4,86,Marcos Llorente,25,12,2956,11,6,0
Osasuna,27.6,11,11,16,44,Ante Budimir,29,11,1625,0,3,0
Betis,27.1,17,10,11,61,Borja Iglesias,27,11,1411,0,2,0
Alavés,26.0,9,11,18,38,Joselu,30,11,3026,3,1,0
Granada,24.8,13,7,18,46,Jorge Molina,38,8,1615,2,3,0
Cádiz,27.1,11,11,16,44,Álvaro Negredo,34,8,2198,4,5,1
Athletic Club,26.7,11,13,14,46,Álex Berenguer,25,8,2278,4,4,0
Valencia,24.0,10,13,15,43,Maxi Gómez,23,7,2689,1,7,1
Elche,27.3,8,12,18,36,Lucas Boyé,24,7,2694,2,9,1
Valladolid,27.0,5,16,17,31,Fabián Orellana,34,6,2138,2,5,0
Getafe,24.2,9,11,18,38,Jaime Mata,31,5,2037,0,9,1

In [26]:
#insert new datafrmae into database new table 
df3.to_sql(name='Top_Goal_Scorer', con=engine, if_exists='append', index=True)

In [27]:
df3.head()

,Average_Player_Age,Wins,Draws,Losses,Points,Top_Scorer,Age,Goals,Minutes_Played,Assists,Yellow_Cards,Red_Cards
Squad,,,,,,,,,,,,
Barcelona,25.1,24,7,7,79,Lionel Messi,33,30,3023,9,4,0
Real Madrid,25.2,25,9,4,84,Karim Benzema,32,23,2894,9,2,0
Villarreal,26.3,15,13,10,58,Gerard Moreno,28,23,2673,7,3,0
Sevilla,26.9,24,5,9,77,Youssef En-Nesyri,23,18,2311,0,2,0
Real Sociedad,23.7,17,11,10,62,Alexander Isak,20,17,2340,2,4,0